@charset "UTF-8";

.root{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
legend{
    font-size: 1.5em;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    text-align: center;
}

