header{background-color: thistle;
text-align: center;}
h2{text-indent: 10px;
text-shadow: 1px 1px;}
p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
footer{text-align: center;
font-size: 20px;
background-color: slategray;}