@charset "UTF-8";

:root {
    --color1: rgb(125, 196, 172);
    --color2: rgb(31, 17, 17);
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    color: var(--color2);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.5vh;
   text-indent: 7px;
   text-align: justify;
}
.normal{
    background-color: white;
    color: black;
}
.imagen > p {
    background-color: rgba(23, 22, 24, 0.384);
    color: white;
   display: inline-block;  
   padding: 2px;
    
}
#img01{background-image: url('imagens/download\ \(1\).jpg');
background-attachment: fixed;
width: 100%;}
#img02{background-image: url('imagens/download.jpg');
background-attachment: fixed;}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}